<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<listener>
		<listener-class>in.hiresense.dbutils.AppInitializer</listener-class>
	</listener>



	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>

	<!-- For 404 (Page Not Found) -->
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
</web-app>